@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vmin;
    background: #e3f2fd;
    background-image : url("snake_enemy_game_character.gif") ;
    background-repeat:unset;
    background-size:450px;
    
}
.wrapper{
    width: 85vmin;
    height: 90vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background :#293447;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
   
}
.wrapper2{
    width: 85vmin;
    height: 90vmin;
    display: flex;
    overflow: hidden;
    flex-direction:column;
    justify-content: center;
    background: #06132b;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
    border: solid;
}
.game-details{
    color: #b8c6dc;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: grid;
    justify-content:center;
}
#open-game{

     width:80px;
     height: 40px;
     margin: auto;
     margin-top:50px;
     background-color: black;
   
}
#open-game:hover{
    color: #e3f2fd;
}
a{
    text-decoration: none;
    color: #e3f2fd;
}
#title-1{
    margin-left: 30px;
    font-size: 35px ;
    font-family: 'Times New Roman', Times, serif;
}
p{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #e3f2fd;
}
.play-board{
    height: 100%;
    width: 100%;
    display: grid;
    background: #050c1b;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    
}
.play-board .food{
    background: #ff003d;
}
.play-board .head{
    background: #007000;
}
.controls{
    display: none;
    justify-content: space-between;
}
.controls i{
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #b8c6dc;
    width: calc(100% / 4);
    cursor: pointer;
    border-right: 1px solid #171b26;
}
@media screen and (max-width: 800px) {
    .wrapper{
        width: 90vmin;
        height: 90vmin;
    }
    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls{
        display: flex;
    }
    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }
}